@charset "utf-8";

@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-pageloader/src/sass/index";

img.appicon {
	max-height: 36px;
	width: auto;
	vertical-align: bottom;
	margin-right: 4px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}

// Dark mode
body.is-dark {
	.hero {
		opacity: .4;
	}

	main {
		background-color: #232323;
	}

	.input,
	.button,
	.footer {
		background-color: #3b3b3b;
		color: white;
		border-color: #5a5a5a;
	}

	.input::placeholder {
		color: white;
	}
}

body * {
	transition: all .8s ease-in-out;
}

@import "services";